body{
    padding: 0pxz;
    margin: 0rem;
    height: 99vh;
    background-color: rgb(17, 17, 17);
}

img, button{
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

.container .logo{
    width: 12.5rem;
    height: 5.3125rem;
    margin: 0rem 0rem 1.875rem 0rem;
}

.container h1{
    color: rgb(240, 239, 239);
    font-size: 1.8125rem;
    margin: .625rem 0rem 0rem 0rem;
}


.container section{
    color: white;
    display: flex;
    max-width: 43.75rem;
    width: 43.75rem;
    justify-content: space-around;
}

.container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem .9375rem 0rem .9375rem;
}

.container div img{
    width: 10rem;
    height: 10rem;
    border-radius: .625rem;
    border: .125rem solid rgb(17, 17, 17);
    background-color: rgb(53, 53, 53);
    margin-bottom: .5rem;
}

.container div img:hover{
    border: .125rem solid;
    border-color: rgb(211, 210, 210);
    transition: 0.5s ease-in-out
}

.container div p{
    color: rgb(211, 210, 210);
    font-size: .875rem;
}

.container button{
    color: rgb(211, 210, 210);
    background-color: transparent;
    border-radius: .5625rem;    
    border-color: rgb(211, 210, 210);
    font-size: .9375rem;
    width: 10.625rem;
    height: 2.375rem;
}

.container button:hover{
    background-color: rgb(211, 210, 210);
    color: black;
    transition: 0.5s ease-in-out    
}